---
import MainLayout from '../layouts/MainLayout.astro'
import WrapperLayout from '../components/main/WrapperLayout.astro';
---

<MainLayout title="Liracare">
	<WrapperLayout AdditionalClass="border-slate-500">
		<h1>Dashboard</h1>
	</WrapperLayout>
</MainLayout>